<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eqlee.user.dao.PrivilegeMapper">


    <insert id="insertPrivilege" parameterType="com.eqlee.user.entity.UserPrivilege">
        insert into UserRolePrivilege (Id,SystemRoleId,SystemMenuId,AuthId)
        <foreach collection="list" item="item" index="index" separator="union all">
            select #{item.Id},#{item.SystemRoleId},#{item.SystemMenuId},#{item.AuthId}
        </foreach>
    </insert>

    <delete id="deletePrivilege">
        delete from UserRolePrivilege where SystemRoleId = #{id}
    </delete>

</mapper>